@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
body{
        font-family: 'Roboto', sans-serif;
    }
h2{
    border: inset;
    font-size: 30px;
    justify-content: flex-end;
    text-align: center;
    background-color: rgb(255, 217, 0);
}
.grid{
    display: grid;
}
p{
    gap: 10px;
 border: 10px;
 margin: 20px;
 text-align: justify;
}
img{
    gap: 10px;
 border: 10px;
 margin: 20px
}